  @font-face {
    font-family: 'principal';
    src: url(./assets/fonts/CabinetGrotesk-Variable.ttf);
  }

  :root {
    font-family: 'principal';
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #151312;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  #web {
    width: 100%;
    display: flex;
    padding-top: 3%;
    align-items: flex-start;
    gap: 3%;
    position: relative;
    padding: 0rem 2rem;
    box-sizing: border-box;
  }

  .contenedor-card {
    position: sticky;
    top: 7%;
    left: 0%;
  }

  #card-dev {
    width: 70%;
    background-color: #ffffff;
    padding: 5% 8%;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: 'relative';
    z-index: 1
  }

  #card-dev .card-fondo-avatar {
    background:
      radial-gradient(
        circle at 20% 15%,
        rgba(255, 180, 80, 0.35),
        transparent 40%
      ),
      linear-gradient(
        135deg,
        #ff6a00,
        #ff5400,
        #e64500,
        #c63400
      );

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 15px;
      padding: 5%;
      
  }

  #card-dev .card-fondo-avatar img {
    width: 70%;
  }

  #card-dev .titulo-nombre {
    color: #151312;
    font-size: 2.8rem;
    margin: 0%;
    margin-top: 3%;
  }

  #card-dev .mensaje {
    color: #555;
    font-weight: 1.1rem;
  }

  #card-dev .redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: .3rem;
    padding: 0;
    margin-bottom: 0;
  }

  #card-dev .redes-sociales a {
    color: #ff5400;
  }

  #icon-fire {
    background-color: #ff5400;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    top: 83%;
    left: 15%;
  }

  #contenedor-web {
    width: 80%;
  }

  #home #contenedor-home > h1{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
  }

  #home #contenedor-home > h1, 
  #proyectos span {
    margin: 0%;
    font-size: 5rem;
    font-weight: 800;
  }

  #proyectos span {
    display: block;
    text-align: start;
  }

  #home #contenedor-home > h1 span:nth-of-type(1), 
  #proyectos > h2 span:nth-of-type(1) {

    color: #fff;
  }

  #home #contenedor-home > h1 span:nth-of-type(2), 
  #proyectos > h2 span:nth-of-type(2) {

    color: #ffffff20;
  }

  #contenedor-home p.texto-home {
    font-size: 1.2rem;
    text-align: start;
    width: 90%;
  }

  #contenedor-home .contenedor-contadores-home {
    width: 90%;
    display: flex;
    align-items: start;
    gap: 5%;
  }

  #contenedor-home .contenedor-contadores-home > div {
    width: 33%;
    text-align: start;
  }

  #contenedor-home .contenedor-contadores-home > div dt {
    font-size: 5rem;
    margin: 0;
    color: #fff;
    font-weight: bolder;
    line-height: .9;
  }

  #contenedor-home .contenedor-contadores-home > div dd {
    font-size: 1.5rem;
    margin: 0%;
    color: #ffffff70;
  }

  #contenedor-home .contenedor-contadores-home {
    margin-top: 2rem;
  } 


  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }

  .contenedor-card-dev{
    position: 'relative';
    display: 'inline-block';
    width: 365px;
  }

  #home {
    position: 'relative';
    padding-top: 2rem;
  }

  #proyectos {
    margin-top: 5rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }

  #proyectos h2, #home h1{
    line-height: .9;
    margin: 0;
  }



  #proyectos p.description {
    text-align: start;
    font-size: 1.2rem;
  }

  #proyectos ul.proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    gap: 5rem;
  }

  #proyectos ul.proyectos li {
    list-style: none;
    width: 100%;
  }

  article.card-proyecto {
    width: 95%;
    background-color: #ffffff20;
    border-radius: 1rem;
    padding: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  article.card-proyecto img {
    width:  100%;
    height: 200px;
    border-radius: .5rem;
    object-fit: cover;
    object-position: top;
  }

  article.card-proyecto h3.title-proyecto{
    font-size: 3rem;
    margin: 0;
    margin-top: 1.5rem;  
    color: #fff;
  }

  article.card-proyecto p.descripcion-proyecto{
    font-size: 1.1rem;
    margin: 0;
    opacity: .8;
    text-align: start;
  }

  article.card-proyecto ul {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    gap: .5rem;
  }

  #proyectos ul.proyectos li:first-child article.card-proyecto ul a, #proyectos ul.proyectos li:first-child article.card-proyecto h3.title-proyecto{
    color: #32cccc;
  }

  #proyectos ul.proyectos li:nth-child(2) article.card-proyecto ul a, #proyectos ul.proyectos li:nth-child(2) article.card-proyecto h3.title-proyecto{
    color: #31D492;
  }

  #proyectos ul.proyectos li:nth-child(3) article.card-proyecto ul a, #proyectos ul.proyectos li:nth-child(3) article.card-proyecto h3.title-proyecto{
    color: #ff6a00;
  }

  #proyectos ul.proyectos li:nth-child(4) article.card-proyecto ul a, #proyectos ul.proyectos li:nth-child(4) article.card-proyecto h3.title-proyecto{
    color: #8E51FF;
  }


#home footer.experiencia {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

#home footer.experiencia > *:last-child {
  grid-column: 1 / -1;
}

#home footer.experiencia article {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  border: 2px solid transparent;
  border-radius: 1rem;
  padding: 1.2rem;
  
}

#home footer.experiencia article h4, #home footer.experiencia article p, #home footer.experiencia article small {
  margin: 0;
}

#home footer.experiencia article p{
  margin-top: 1rem;
  font-size: 1rem;
}

#home footer.experiencia article h4{
  font-size: 1.5rem;
}

#home footer.experiencia article small{
  font-size: .9rem;
}

#home footer.experiencia article:first-child {
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Crect x='1' y='1' width='98' height='98' rx='12' fill='none' stroke='%2331D492' stroke-width='2' stroke-dasharray='16,6' /%3E%3C/svg%3E") 12 fill / 12px round;
  background-color: #31D49210;
  color: #31D492;
}

#home footer.experiencia article:nth-of-type(2) {
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Crect x='1' y='1' width='98' height='98' rx='12' fill='none' stroke='%23ff6a00' stroke-width='2' stroke-dasharray='16,6' /%3E%3C/svg%3E") 12 fill / 12px round;
  background-color: #ff6a0010;
  color: #ff6a00;
}

#home footer.experiencia article:nth-of-type(3) {
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Crect x='1' y='1' width='98' height='98' rx='12' fill='none' stroke='%238E51FF' stroke-width='2' stroke-dasharray='16,6' /%3E%3C/svg%3E") 12 fill / 12px round;
  background-color: #8E51FF10;
  color: #8E51FF;
}

